<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>The cards</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Amiri|Sorts+Mill+Goudy|Almendra|Della+Respira&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/cards.css">
    <link rel="manifest" href="/manifest.json">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <main id="app">
    <div v-if="showform">
          Creature JSON:<br>
          <textarea name="source_textarea" rows="20" cols="120" v-model="source" value="qqqq"></textarea> <br>
          <button v-on:click="showCards">Render cards</button>
          <br>
          SRD20 table:<br>
          <textarea name="source_srd_textarea" rows="3" cols="20" v-model="source_srd" value=""></textarea> <br>
          <button v-on:click="importSrd">Import</button>
    </div>
    <div v-if="showcards">
        <div class="grid-container">
            <card v-for="entry in cards" v-bind:entry="entry" />
        </div>
        <button v-on:click="showForms">Edit</button></div>
    </main>
    <script src="js/cards.js"></script>
</body>
</html>
