html {
    font-family: sans-serif;
    box-sizing: border-box;
    font-size: 62.5%
}

*,
*:before,
*:after {
    box-sizing: inherit
}

body {
    margin: 0;
    font: 1.6rem "Della Respira", serif
}

[hidden],
template {
    display: none
}

a:active,
a:hover {
    outline: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal
}

pre {
    overflow: auto
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button,
select {
    text-transform: none
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],
html input[disabled] {
    cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto
}

optgroup {
    font-weight: bold
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td,
th {
    padding: 0
}

.grid-container {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(528px, 1fr));
    margin: 8px
}

.card-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px
}

.recto,
.verso {
    width: 264px;
    height: 396px;
    overflow: hidden;
    position: relative;
    background: url(../img/bg.png);
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, .2)
}

.frame {
    position: absolute;
    pointer-events: none;
    top: 0;
    width: 100%;
    height: 100%;
    text-shadow: 0 0 30px #000;
    display: flex;
    justify-content: center
}

.frame>img {
    position: absolute;
    top: 0;
    left: 0;
    filter: hue-rotate(0deg)
}

h2 {
    padding: 0;
    margin: 0;
    position: relative
}

h2.badge-top {
    margin-top: 8px
}

h2.badge-bottom {
    top: -6px
}

.recto {
    display: flex;
    align-items: center
}

.recto .antlitz-outer {
    padding: 24px;
    display: flex;
    justify-content: center;
    max-height: 100%;
    max-width: 100%;
    margin: auto
}

.recto .antlitz {
    min-height: 100%;
    max-width: 100%;
    mix-blend-mode: multiply
}

.recto .frame {
    align-items: flex-end
}

.verso {
    position: relative
}

.verso .badge-cr {
    z-index: 2;
    display: inline-block;
    position: absolute;
    right: 6px;
    bottom: 6px;
    border-radius: 50%
}

.verso .frame {
    align-items: flex-start
}

.card-properties-outer {
    padding: 30px
}

.card-properties {
    width: 100%;
    margin-top: 28px
}

.card-properties td {
    text-align: left;
    vertical-align: top;
    padding: 3px 6px;
    font-size: 1.3rem
}

.card-properties td.value {
    white-space: nowrap;
    color: #186b5b;
    font-weight: bold
}

.card-properties td.value .value-part:before {
    content: "|";
    display: inline-block;
    color: #999;
    height: 10px;
    width: 1px;
    padding: 0 10px 0 3px
}

.card-properties td.value .value-part:first-of-type::before {
    content: normal
}

.card-properties tbody tr:last-of-type td {
    padding-top: 10px
}

.card-properties tbody tr.pre-ultimate td {
    padding-bottom: 10px;
    border-bottom: 1px solid #186b5b
}

[class^=badge-],
[class*=" badge-"] {
    border-style: ridge;
    border-width: 3px;
    border-color: #186b5b;
    border-radius: 10% 20%;
    text-align: center;
    background: #8cb5ad;
    color: #186b5b;
    padding: 2px 10px;
    font: bold 1.8rem "Della Respira", serif;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, .2);
    display: inline-block;
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, .2)
}

.property-details {
    left: -100000px;
    background: #8cb5ad;
    color: #186b5b;
    position: absolute;
    bottom: 0;
    margin: 30px;
    width: calc(100% - 60px);
    padding: 8px
}

.property-details table {
    width: 100%
}

.detail-trigger {
    cursor: pointer
}

.detail-trigger .detail-text {
    border-bottom: 1px dashed #186b5b
}

.detail-trigger:hover .property-details {
    left: 0
}

.color-0 .frame>img {
    filter: hue-rotate(0deg)
}

.color-0 .card-properties tbody tr.pre-ultimate td {
    border-bottom: 1px solid #186b5b
}

.color-0 .property-details {
    background-color: #8cb5ad;
    color: #186b5b
}

.color-0 .detail-trigger .detail-text {
    border-bottom-color: #186b5b
}

.color-0 [class^=badge-],
.color-0 [class*=" badge-"] {
    border-color: #186b5b;
    background-color: #8cb5ad;
    color: #186b5b
}

.color-1 .frame>img {
    filter: hue-rotate(30deg)
}

.color-1 .card-properties tbody tr.pre-ultimate td {
    border-bottom: 1px solid #174a69
}

.color-1 .property-details {
    background-color: #8ba5b4;
    color: #174a69
}

.color-1 .detail-trigger .detail-text {
    border-bottom-color: #174a69
}

.color-1 [class^=badge-],
.color-1 [class*=" badge-"] {
    border-color: #174a69;
    background-color: #8ba5b4;
    color: #174a69
}

.color-2 .frame>img {
    filter: hue-rotate(60deg)
}

.color-2 .card-properties tbody tr.pre-ultimate td {
    border-bottom: 1px solid #162864
}

.color-2 .property-details {
    background-color: #8b94b2;
    color: #162864
}

.color-2 .detail-trigger .detail-text {
    border-bottom-color: #162864
}

.color-2 [class^=badge-],
.color-2 [class*=" badge-"] {
    border-color: #162864;
    background-color: #8b94b2;
    color: #162864
}

.color-3 .frame>img {
    filter: hue-rotate(90deg)
}

.color-3 .card-properties tbody tr.pre-ultimate td {
    border-bottom: 1px solid #331661
}

.color-3 .property-details {
    background-color: #998bb0;
    color: #331661
}

.color-3 .detail-trigger .detail-text {
    border-bottom-color: #331661
}

.color-3 [class^=badge-],
.color-3 [class*=" badge-"] {
    border-color: #331661;
    background-color: #998bb0;
    color: #331661
}

.color-4 .frame>img {
    filter: hue-rotate(120deg)
}

.color-4 .card-properties tbody tr.pre-ultimate td {
    border-bottom: 1px solid #6a185f
}

.color-4 .property-details {
    background-color: #b58caf;
    color: #6a185f
}

.color-4 .detail-trigger .detail-text {
    border-bottom-color: #6a185f
}

.color-4 [class^=badge-],
.color-4 [class*=" badge-"] {
    border-color: #6a185f;
    background-color: #b58caf;
    color: #6a185f
}

.color-5 .frame>img {
    filter: hue-rotate(150deg)
}

.color-5 .card-properties tbody tr.pre-ultimate td {
    border-bottom: 1px solid #7f1c2f
}

.color-5 .property-details {
    background-color: #bf8e97;
    color: #7f1c2f
}

.color-5 .detail-trigger .detail-text {
    border-bottom-color: #7f1c2f
}

.color-5 [class^=badge-],
.color-5 [class*=" badge-"] {
    border-color: #7f1c2f;
    background-color: #bf8e97;
    color: #7f1c2f
}

.color-6 .frame>img {
    filter: hue-rotate(180deg)
}

.color-6 .card-properties tbody tr.pre-ultimate td {
    border-bottom: 1px solid #863a1e
}

.color-6 .property-details {
    background-color: #c39d8f;
    color: #863a1e
}

.color-6 .detail-trigger .detail-text {
    border-bottom-color: #863a1e
}

.color-6 [class^=badge-],
.color-6 [class*=" badge-"] {
    border-color: #863a1e;
    background-color: #c39d8f;
    color: #863a1e
}

.color-7 .frame>img {
    filter: hue-rotate(210deg)
}

.color-7 .card-properties tbody tr.pre-ultimate td {
    border-bottom: 1px solid #86531e
}

.color-7 .property-details {
    background-color: #c3a98f;
    color: #86531e
}

.color-7 .detail-trigger .detail-text {
    border-bottom-color: #86531e
}

.color-7 [class^=badge-],
.color-7 [class*=" badge-"] {
    border-color: #86531e;
    background-color: #c3a98f;
    color: #86531e
}

.color-8 .frame>img {
    filter: hue-rotate(240deg)
}

.color-8 .card-properties tbody tr.pre-ultimate td {
    border-bottom: 1px solid #86691e
}

.color-8 .property-details {
    background-color: #c3b48f;
    color: #86691e
}

.color-8 .detail-trigger .detail-text {
    border-bottom-color: #86691e
}

.color-8 [class^=badge-],
.color-8 [class*=" badge-"] {
    border-color: #86691e;
    background-color: #c3b48f;
    color: #86691e
}

.color-9 .frame>img {
    filter: hue-rotate(270deg)
}

.color-9 .card-properties tbody tr.pre-ultimate td {
    border-bottom: 1px solid #867f1e
}

.color-9 .property-details {
    background-color: #c3bf8f;
    color: #867f1e
}

.color-9 .detail-trigger .detail-text {
    border-bottom-color: #867f1e
}

.color-9 [class^=badge-],
.color-9 [class*=" badge-"] {
    border-color: #867f1e;
    background-color: #c3bf8f;
    color: #867f1e
}

.color-10 .frame>img {
    filter: hue-rotate(300deg)
}

.color-10 .card-properties tbody tr.pre-ultimate td {
    border-bottom: 1px solid #63761a
}

.color-10 .property-details {
    background-color: #b1bb8d;
    color: #63761a
}

.color-10 .detail-trigger .detail-text {
    border-bottom-color: #63761a
}

.color-10 [class^=badge-],
.color-10 [class*=" badge-"] {
    border-color: #63761a;
    background-color: #b1bb8d;
    color: #63761a
}

.color-11 .frame>img {
    filter: hue-rotate(330deg)
}

.color-11 .card-properties tbody tr.pre-ultimate td {
    border-bottom: 1px solid #2d6817
}

.color-11 .property-details {
    background-color: #96b48b;
    color: #2d6817
}

.color-11 .detail-trigger .detail-text {
    border-bottom-color: #2d6817
}

.color-11 [class^=badge-],
.color-11 [class*=" badge-"] {
    border-color: #2d6817;
    background-color: #96b48b;
    color: #2d6817
}

@media print {
    @page {
        size: A4 landscape
    }

    .monster-list, .monster-editor {
        display: none
    }

    .recto {
        transform: rotate(180deg)
    }

    .property-details {
        display: none
    }

    .detail-trigger {
        cursor: default
    }

    .detail-trigger .detail-text {
        border: none
    }

    .grid-container {
        transform: scale(0.8);
        transform-origin: top left;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr
    }

    .card-container {
        display: block
    }

    .recto,
    .verso {
        box-shadow: none
    }

    .verso {
        margin-top: 10px;
        overflow: visible
    }

    .verso::before {
        content: "";
        display: block;
        width: 100%;
        height: 10px;
        position: absolute;
        top: -10px;
        border-top: 1px #999 solid;
        border-bottom: 1px #999 solid;
        background-image: url(../img/frame.png);
        box-sizing: border-box
    }

    .color-0 .verso::before {
        filter: hue-rotate(0deg);
        border-color: #186b5b
    }

    .color-1 .verso::before {
        filter: hue-rotate(30deg);
        border-color: #174a69
    }

    .color-2 .verso::before {
        filter: hue-rotate(60deg);
        border-color: #162864
    }

    .color-3 .verso::before {
        filter: hue-rotate(90deg);
        border-color: #331661
    }

    .color-4 .verso::before {
        filter: hue-rotate(120deg);
        border-color: #6a185f
    }

    .color-5 .verso::before {
        filter: hue-rotate(150deg);
        border-color: #7f1c2f
    }

    .color-6 .verso::before {
        filter: hue-rotate(180deg);
        border-color: #863a1e
    }

    .color-7 .verso::before {
        filter: hue-rotate(210deg);
        border-color: #86531e
    }

    .color-8 .verso::before {
        filter: hue-rotate(240deg);
        border-color: #86691e
    }

    .color-9 .verso::before {
        filter: hue-rotate(270deg);
        border-color: #867f1e
    }

    .color-10 .verso::before {
        filter: hue-rotate(300deg);
        border-color: #63761a
    }

    .color-11 .verso::before {
        filter: hue-rotate(330deg);
        border-color: #2d6817
    }
}
